html{
	text-rendering :optimizeLegibility;
	height:100%;
}
body{
    font-family:'K2D';
  padding:0;
  margin:0;
  height:100%;
  position:relative;
  background-color:#f1f1f1;
}
a{
  text-decoration:none;
  color:inherit;
}
header{
  background-color:seagreen;
  padding:20px 0;
  width:100%;
  color:white;
  position:relative;
  box-shadow:#000 1px 2px 6px;
  z-index:1;
}
.index-topname{
  font-size:25px;
  font-weight:bold;
  color:#fff;
  padding:20px;
  text-shadow:#000 2px 2px 2px;
}
.logform-right{
  width:50%;
  background-color:#fff;
  float:right;
  height: 100%;
  position:relative
}
.subtitle{
  padding-left: 20px;
  font-size: large;
  font-weight: 600;
}
.notifyspace{
  width: 100%;
}
.clearnotice{
  position: absolute;
  top:-10px;
  right: 10px;
  cursor: pointer;
}
.red{
  color:red;
}
.brand{
  color:seagreen;
}
#menu{
	top:17px;
	position:absolute;
	width:40px;
	left:20px;
}
#menu div{
	width:100%;
	height:4px;
	background:white;
}
#menu .mid{
	opacity:1;
	position:relative;
	margin:7px 0;
}
#menu .mids{
	transition: 1s opacity;
	opacity:0;
}
#menu .cross{
	top:12px;
	position:absolute;
	transform:rotate(45deg);
	transition: 1s transform, 1s position;
}
header #home{
  margin-left:30px;
  font-weight:bold;
  text-shadow:#000 2px 2px 2px;
  font-size:25px;
}
#signinicon{
  position:absolute;
  top:20px;
  right:30px;
}
#menuslider{
  width:30%;
  background:#ffffff;
  float:left;
}
.main-content{
  position: relative;
  width: calc(70% - 30px);
  left:0;
  transition:1s left;
  float: right;
  padding: 15px;
  z-index: -4;
}
.side-content{
  position: absolute;
  width: calc(70% - 30px);
  left:-170%;
  transition:1s left;
  float: right;
  padding: 15px;
  z-index: -4;
  overflow: hidden;
}
.hide-main-content{
  position: absolute;
  left:-70%;
  transition:1s left;
}
.show-side-content{
  position: relative;
  left:0;
  transition:1s left;
}

.farmers-hide{
  position: absolute;
  left:-100%;
  transition:1s left;
}
.farmers-show{
  position: relative;
  left:0;
  transition:1s left;
}
#topslid{
  min-height:20%;
}
#profilesection{
  background:seagreen;
  width:100%;
  padding-top:20px;
  padding-bottom:20px;
}
#overlay{
  height:calc(100% + 60px);
  width:100%;
  position:absolute;
  top:0;
  left:0;
}
.drawover{
  z-index:3;
  background:rgba(0,0,0,0.3);
  transition: 0.5s z-index, 1s background;
}
.drawunder{
  z-index:-3;
  background:rgba(0,0,0,0);
  transition: 0.5s z-index, 1s background;
}
.drawin{
  left:-75%;
  transition: 0.5s left;
}
.drawout{
  left:0%;
  transition: 0.5s left;
}
.thumb{
  height:80px;
  width:80px;
  margin:auto
}
.thumb img{
  height:100%;
  width:100%;
  object-fit:cover;
}
.profileimg{
  border-radius:50%;
  border:2px solid white;
}
#profilesummary{
  width:100%;
  background:#191919;
  color:white;
  padding:10px 0;
}
#menulist{
  height:65%;
  overflow:auto;
}

#menulist div{
  padding:25px;
  font-weight:600;
  color:#555555;
  border-top:1px solid #cccccc;
}

.menulist div{
  padding:25px;
  font-weight:600;
  color:#555555;
  border-top:1px solid #cccccc;
}
#menulist i{
  font-size:24px;
  margin:0 20px
}
#menulist a{
  text-decoration:none;
  color:#555555;
}

#transacthistory{
  padding:15px;
  font-weight:500;
}

#searchbar{
  height:15px;
  padding:10px;
  width:90%;
  background:#ffffff;
  position:relative;
  float:none;
  clear:both;
  border-radius:5px;
  margin: 5px auto;
}

#searchbar input{
  height:100%;
  width:calc(100% - 30px);
  float:right;
  border:none;
  
 
}
/* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}*/
.mySlides {
  display: none;
  width:100%;
  height:280px;

}
/*img {vertical-align: middle;}*/
.mySlides img{
  height:100%;
  width:100%;
  object-fit:cover;
}

/* Slideshow container */
.slideshow-container {
  width:100%;
  position: relative;
  margin: auto;
  min-height:180px;
  background-color: seagreen;
  color:white;
}
.slideshow-contain{
  width:100%;
  position: relative;
  margin: auto;
  background-color: seagreen;
  color:white;
}

 #walletBalance{
  color: white;
  font-size: 25px;
  font-weight: bold;
  position:relative;
  padding-top: 20px;
  width:100%;
  margin: auto;
  
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.eachhistory{
  background:#fff;
  padding:10px;
  width:90%;
  border-radius:5px;
  margin:10px auto;
  border-radius: 5px;
  box-shadow: #666 2px 2px 8px;
  position: relative;
}
.eachnotice{
  color: #fff;
  background:#191919;
  padding:1px 10px;
  width:90%;
  border-radius:5px;
  margin:10px auto;
  border-radius: 5px;
}

.debithistory{
  border-left:3px solid red;
}

.credithistory{
  border-left:3px solid seagreen;
}

.transactamount{
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.datebox {
  height: 50px;
  box-shadow: #666 2px 2px 8px;
  width: 50px;
  border-radius: 10px;
  padding: 10px;
  font-size: 18;
  text-align: center;
}

.greytext {
  color: #666666;
  font-weight: 600;
}
.ashtext {
  color: #ccc;
}
.black{
  color:black
}
.large-name{
  font-size: medium;
}
.farmers-nav{
  padding: 10px 0;
  color:#666;
}
.farmers-nav-active{
  color: #fff;
  border-bottom:3px solid white ;
}

.nav{
  padding:15px 25px;
}

.active-nav, .nav:hover{
  background-color: #fff;
  color:seagreen;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.log-input-title{
  color: seagreen; 
  position: absolute; 
  top: -45px
}
.bottom-log-toogle{
  color:black
}
#signinicon img{
  display:none;
}
#footer{
  float:none;
  clear:both;
  padding:10px;
  background-color:#191919;
  color:white
}
#footer #mobile-foot, .mobile-menu{
  display:none;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  .text {font-size: 11px}
  .logform-right{
     width:100%;
  background-color:inherit;
  position:absolute;
  top:100px;
  height: 100%;
  }
  .log-input-title{
    color: #fff;
  }
  .bottom-log-toogle{
  color: #fff;
}  
#menuslider{
  display: none;
}
.main-content{
  float:none;
  width: 100%;
  left:0;
  transition:1s left;
  padding: 0;
  margin-bottom:65px;
  z-index: -4;
}
.hide-main-content{
  left:-100%;
  transition:1s left;
}
.side-content{
  display: none;
}
#signinicon img, .mobile-menu{
  display:block;
}
.mobile-menu{
  margin:10px 0;
}
.mobile-menu table{
  width:100%;
}
#signinicon table{
  display:none;
}
#footer{
  width:100%;
  padding:0;
  background-color:white;
  color:#666;
  position:fixed;
  bottom:0;
  box-shadow:#000 1px 2px 6px;
  
  
}
#footer #web-foot{
  display:none;
}
#footer #mobile-foot{
  display:block;
  width:100%;
}
#mobile-foot table{
  width: 100%;
}
.round-button{
  width:50px;
  height:50px;
  background-color:seagreen;
  border-radius:25px;
  box-shadow:#000 1px 2px 3px;
}

.round-button i{
  margin-top:18px;
  color:white;
}

}