html{
	text-rendering :optimizeLegibility;
	height:100%;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding:0;
  margin:0;
  height:100%;
  position:relative;
  background-color:#dfe2db;
}
header{
  background-color:seagreen;
  padding:20px 0;
  width:100%;
  color:white;
  position:relative;
  box-shadow:#000 1px 2px 6px;
  z-index:1;
}
.subtitle{
  padding-left: 20px;
  font-size: large;
  font-weight: 600;
}
.notifyspace{
  position: relative;
  width: 100%;
}
.clearnotice{
  position: absolute;
  top:-10px;
  right: 10px;
  cursor: pointer;
}
.red{
  color:red;
}
.brand{
  color:seagreen;
}
#menu{
	top:17px;
	position:absolute;
	width:40px;
	left:20px;
}
#menu div{
	width:100%;
	height:4px;
	background:white;
}
#menu .mid{
	opacity:1;
	position:relative;
	margin:7px 0;
}
#menu .mids{
	transition: 1s opacity;
	opacity:0;
}
#menu .cross{
	top:12px;
	position:absolute;
	transform:rotate(45deg);
	transition: 1s transform, 1s position;
}
header #home{
  margin-left:70px;
  font-weight:600;
  font-size:20px;
}
#signinicon{
  position:absolute;
  top:15px;
  right:30px;
}
#menuslider{
  width:75%;
  height:calc(100% + 60px);
  background:#ffffff;
  position:absolute;
  top:0;
  z-index:4;
}
#topslid{
  min-height:20%;
}
#profilesection{
  background:seagreen;
  width:100%;
  padding-top:20px;
  padding-bottom:20px;
}
#overlay{
  height:calc(100% + 60px);
  width:100%;
  position:absolute;
  top:0;
  left:0;
}
.drawover{
  z-index:3;
  background:rgba(0,0,0,0.3);
  transition: 0.5s z-index, 1s background;
}
.drawunder{
  z-index:-3;
  background:rgba(0,0,0,0);
  transition: 0.5s z-index, 1s background;
}
.drawin{
  left:-75%;
  transition: 0.5s left;
}
.drawout{
  left:0%;
  transition: 0.5s left;
}
.thumb{
  height:80px;
  width:80px;
  margin:auto
}
.thumb img{
  height:100%;
  width:100%;
  object-fit:cover;
}
.profileimg{
  border-radius:50%;
  border:2px solid white;
}
#profilesummary{
  width:100%;
  background:#191919;
  color:white;
  padding:10px 0;
}
#menulist{
  height:65%;
  overflow:auto;
}

#menulist div{
  padding:15px;
  font-weight:600;
  color:#555555;
}
#menulist i{
  font-size:24px;
  margin:0 20px
}
#menulist a{
  text-decoration:none;
  color:#555555;
}

#transacthistory{
  padding:15px;
  font-weight:500;
}

#searchbar{
  height:15px;
  padding:10px;
  width:90%;
  background:#ffffff;
  position:relative;
  float:none;
  clear:both;
  border-radius:5px;
  margin: 5px auto;
}

#searchbar input{
  height:100%;
  width:calc(100% - 30px);
  float:right;
  border:none;
  
 
}
/* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}*/
.mySlides {
  display: none;
  width:100%;
  height:280px;

}
/*img {vertical-align: middle;}*/
.mySlides img{
  height:100%;
  width:100%;
  object-fit:cover;
}

/* Slideshow container */
.slideshow-container {
  width:100%;
  position: relative;
  margin: auto;
  min-height:180px;
  background:seagreen;
  color:white;
}

 #walletBalance{
  color: white;
  font-size: 25px;
  font-weight: bold;
  position:relative;
  padding-top: 20px;
  width:100%;
  margin: auto;
  
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.eachhistory{
  background:#fff;
  padding:10px;
  width:90%;
  height:70px;
  border-radius:5px;
  margin:10px auto;
  border-radius: 5px;
}
.eachnotice{
  color: #fff;
  background:#191919;
  padding:1px 10px;
  width:90%;
  min-height:70px;
  border-radius:5px;
  margin:10px auto;
  border-radius: 5px;
}

.debithistory{
  border-left:3px solid red;
}


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}